body{
  background-image: url(/img/360_F_73938050_ni0APCbbMGllhOGADOq3HhEYnLBwpkoS.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header{
  background-image: url(/img/fish.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 14%;
  text-align: center;
  font-size: 300%;
  font-style: italic;
  font-weight: bolder;
  opacity: 0.9;
  
}
ul{
  background-image: url(/img/backgroundFlower.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 50%;
  padding: 30em;
  margin: 5em;
  text-align: center;
  opacity: 0.9;
  font-size: 100%;
  font-weight: bolder;
  color: rgb(141, 133, 133);
}
